html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: #eef2ff;
}

.table-container {
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(25, 25, 112, 0.1);
    overflow: hidden;
    background-color: #ffffff;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

.table-wrapper {
    overflow-y: auto;
    flex-grow: 1;
}

.empty-table-row td {
    text-align: center;
    font-style: italic;
    color: #6b7280;
    padding: 2rem 1rem;
    font-size: 0.9rem;
    border-bottom: none !important;
}

.custom-modal {
    transition: opacity 0.3s ease-out;
}
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

#paginacion > div {
     -ms-overflow-style: none; /* IE and Edge */
     scrollbar-width: none; /* Firefox */
}
#paginacion > div::-webkit-scrollbar {
     display: none; /* Chrome, Safari and Opera */
}

.min-w-full th, .min-w-full td {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    border-bottom: 1px solid #f3f4f6;
}

@media (max-width: 768px) {
    .min-w-full th, .min-w-full td {
        padding: 0.4rem 0.6rem;
        font-size: 0.7rem;
    }
    .text-sm {
        font-size: 0.75rem;
    }
    .text-lg {
        font-size: 1rem;
    }
}